<div class="dashboard">
    <div class="hero">
        <div>
            <h1>Bonjour Oussama ZNAGUI! </h1>
            <p>znagui.ingogmail.com</p>
        </div>
        <div class="stats">
            <div>
                <p>demandes</p>
                <span>120</span>
            </div>
            <div>
                <p>Validées</p>
                <span>20</span>
            </div>
        </div>
        <div>
            <button (click)="openAddPopup()">Ajouter Demande <svg class="" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14m-7 7V5"/>
              </svg>
              </button>
        </div>
        
    </div>
    <app-drop-off-requests-list />
    @if (addRequestPopup) {
        <app-add-drop-off-request (closeEvent)="close()" />
    }
</div>