<h1>RecycleHub</h1>
<nav>
    <a href="">Lorem ipsum</a>
    <a href="">Lorem ipsum</a>
    <a href="">Lorem ipsum</a>
    <a href="">Lorem ipsum</a>
</nav>
<div class="auth">
    <button class="login">LogIn</button>
<button class="signup"><span>SignUp</span> <svg  aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m9 5 7 7-7 7"/>
  </svg>
  </button>
</div>

