<div class="container">
    <svg (click)="close()"  class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18 17.94 6M18 18 6.06 6"/>
      </svg>
    <h1>
        Ajouter Une demande de depot
    </h1>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
       <div class="part1">
        <div>
            <label for="">Type de déchet à recycler</label>
            <select id="type">
                <option value="">plastique</option>
                <option value="">verre</option>
                <option value="">papier</option>
                <option value="">métal</option>
            </select>
        </div>
        <div>
            <label for="">Poids estimé</label>
            <input id="poids_estime" formControlName="poids_estime"  type="number">
            @if (form.controls['poids_estime'].invalid && form.controls['poids_estime'].touched) {
                <div class="error" >
                    * poids estime obligatoire (minimum 1000 KG).
                  </div>
            }
        </div>
       </div>
        <div>
            <label for="">Adresse de collecte</label>
            <div class="adresse">

                <input id="adresse_de_collecte" formControlName="adresse_de_collecte" type="text" placeholder="Adresse">

                @if (form.controls['adresse_de_collecte'].invalid && form.controls['adresse_de_collecte'].touched) {
                    <div class="error" >
                        * L'adresse SVP !!
                      </div>
                }


            <select id="ville" formControlName="ville">
                <option value="">---Ville---</option>
                <option value="1">Agadir</option>
            </select>
            @if (form.controls['ville'].invalid && form.controls['ville'].touched) {
                <div class="error" >
                    * La ville SVP !!
                  </div>
            }
            </div>
        </div>
        <div>
            <label for="">Date et créneau horaire souhaités entre 09h00 et 18h00</label>

            <input type="datetime-local" id="date_creneau" formControlName="date_creneau">

            @if (form.controls['date_creneau'].invalid && form.controls['date_creneau'].touched) {
                <div>
                    * Date obligatoire et doit être entre 09h00 et 18h00.
                </div>
            }
        </div>
        <div>
            <textarea id="notes_supplementaires" placeholder="Notes supplémentaires"></textarea>
        </div>
       
          <button  type="submit" [disabled]="form.invalid" >Envoyer</button>

    </form>
</div>
