:host{
   
    
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(7px); 
    z-index: 100;
    position: absolute;
    top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
    scroll-snap-type: none;

  
}



.container{
    width: 40%;
    background-color: #98f3ad;
    padding: 2rem 2rem;
    border-radius: 2rem;
   
}

svg{
    float: right;
}

h1{
    font-size: 1.5rem;
    margin: 1rem 0;
}









:root {
    --primary-color: #4CAF50;
    --secondary-color: #45a049;
    --text-color: #333;
    --background-color: #f9f9f9;
    --input-background: #fff;
    --border-color: #ddd;
  }
  
  
  form {
    max-width: 600px;
    margin: 2rem auto;
    padding: 2rem;
  
  
  }
  
  .part1 {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
  }
  
  .part1 > div {
    flex: 1;
  }
  
  label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
  }
  
  select,
input,
  textarea {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    font-size: 1rem;
  }
  
  .adresse {
    display: flex;
    gap: 1rem;
  }
  
  .adresse input,
  .adresse select {
    flex: 1;
  }
  
  textarea {
    min-height: 100px;
    resize: vertical;
  }
  
  .signup {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0.75rem;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }.signup{
    background-color: #1a271d;
    color: rgb(227, 241, 225);
    border: none;
    padding: .8rem 2rem;
    border-radius: 2rem;
  
    display: flex;
    gap: .4rem;
    font-weight: 600;
}

.signup svg{
    width: 1rem;
    
    height: 1rem;
    display: block;
}
  
  .signup:hover {
    background-color: var(--secondary-color);
  }
  
  .signup span {
    margin-right: 0.5rem;
  }
  
