<div class="container">
    <svg (click)="close()"  class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18 17.94 6M18 18 6.06 6"/>
      </svg>
    <h1>
        Ajouter Une demande de depot
    </h1>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <label>Déchets :</label>
        <div formArrayName="dechets">
          <div *ngFor="let dechet of dechets.controls; let i = index" [formGroupName]="i">
            <label>Type :</label>
            <select formControlName="type_de_dechet">
              <option *ngFor="let type of typesDeDechetOptions" [value]="type">{{ type }}</option>
            </select>
           
           
      
            <label>Poids estimé (kg) :</label>
            <input type="number" formControlName="poids_estime"  />
            
          
            <button type="button" (click)="removeDechet(i)"> Supprimer</button>
          </div>
        </div>
        <button type="button" (click)="addDechet()"> Ajouter un Déchet</button>
    
        <label>Adresse de Collecte :</label>
        <input type="text" formControlName="adresse_de_collecte"  />
        @if (form.controls['adresse_de_collecte'].invalid && form.controls['adresse_de_collecte'].touched) {
          <div>
            Adresse obligatoire
          </div>
        }
        <select name="" id="id_ville" formControlName="id_ville">
            <option value="1">Ville</option>
            @if (form.controls['id_ville'].invalid && form.controls['id_ville'].touched) {
              <div>
                ville obligatoire
              </div>
            }
        </select>
      
        <label>Date du Créneau :</label>
        <input type="datetime-local" formControlName="date_creneau"  />
        @if (form.controls['date_creneau'].invalid && form.controls['date_creneau'].touched) {
          <div>
            Date et créneau horaire souhaités entre 09h00 et 18h00
          </div>
        }
      
        <label>Notes Supplémentaires :</label>
        <textarea id="notes_supplementaires" formControlName="notes_supplementaires"></textarea>
      
        <button type="submit" [disabled]="form.invalid">Ajouter</button>
      </form>
</div>
